
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif !important;
}

.container{
  box-sizing: border-box;
  max-width: 1170px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-header .container{
  height: 80px;
}

.site-header{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.header-top{
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  color: white;
  align-items: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.header-top img,
.header-top p,
.header-top a,
.header-top ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.icon .fa-envelope-open{
  color: #c7161d;
}

.english img{
  height: 18px;
  width: 36px;
}

.icon {
  margin-left: 355px;
  display:flex;
  margin-right: auto;
  align-items: center;
}

.header-top ul {
  padding-left: 30px;
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.header-top .nav-link{
  color: #808080;
}


.header-top ul li {
  display: inline-block;
  margin-right: 12px;
}

.header-top li:last-child {
  margin-right: 0;
}
.icon p{
  border-right: 1px solid #808080;
} 

.icon .site-mail {
  font-size: 14px;
  margin-left: 10px;
  padding-right: 20px;
  color: #808080;
  text-decoration: none;
}


.english{
  margin-right: 355px;
  display: flex;
  line-height: 40px;
  align-items: center;
}

.english a {
  width: 160px;
  box-sizing: border-box;
  height: 40px;
  background-color: #db3b3f;
  text-decoration: none;
  line-height: 40px;
  color: white;
}
.english:hover a {
  color: #c7161d;
}

.english span{
  margin-left: 5px;
  font-size: 14px;
}

.english p{
  margin-left: 5px;
  padding-right: 30px;
}

.english i{
  transform: translateY(-10%);
}
.container .header-bottom{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu li {
  display: inline-block;
  font-size: 14px;
  margin-right: 32px;
}

.header-bottom li:last-child {
  margin-right: 0;
}
.main-menu a{
  color: #808080;
  text-decoration: none;
}

.main-menu .color-red {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}

/*CSS Main*/
.site-main .container {
  position: relative;
  height: 100%;
}

.site-main .site-banner {
  background: url(images/assests/anh-banner.jpg) no-repeat center;
  height: 500px;
  background-size: cover;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.site-banner .banner-content {
  text-align: center;
}

.site-banner .banner-content h1 {
  font-size: 48px;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  font-family: 'Arimo', sans-serif;
}

.site-banner .banner-content p {
  font-size: 26px;
  margin-bottom: 10px;
}

.banner-content span{
  color: #c7161d;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 470px;
  height: 50px;
  border-radius: 5px;
}

.search-container input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 50px;
  max-width: 470px;
  flex: 1;
  margin-right: -130px !important;
  border: 2px solid #857d7c;
}
.input-2::placeholder {
  text-indent: 10px;
  color: #e8e7e6;
}

.search-container button {
  position: absolute;
  width: 130px;
  height: 42px;
  border-radius: 5px;
  background-color: #b83e3b;
  color: #fff;
  border: none;
  right: 4px;
}

.row {
  font-size: 14px;
  text-align: center;
  --bs-gutter-x: 1rem;
  width: 1170px;
  padding-top: 15px;
}

.site-table h2{
  font-size: 32px;
  text-align: center;
  margin-bottom: 17px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.row .col-sm-6{
  position: relative;
}

.job-title{
  margin-top: 10px;
  font-size: 14px;
}

.job-title a{
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7) !important;
}
.row .overlay {
  position: absolute;
  top: 10px;
  left: 23px;
  width: 245px;
  height: 160px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
}

.site-table{
  margin-top: 110px;
}

/* CSS footer*/
.site-footer{
  margin-top: 90px;
  background-color: black;
}

.site-footer .container{
  display: flex;
  height: 200px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.site-footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.site-footer li{
  margin-right: 20px;
}

.site-footer .site-list{
  display: block;
  text-align: center;
  font-size: 14px;
}

.site-footer p{
  padding-top: 25px;
  color: #808080;
}

.site-footer a{
  text-decoration: none;
  color: #808080;
}

.site-footer li {
  margin-left: 10px;
  padding-right: 30px;
  border-right: 1px solid #808080;
}

.site-footer li:last-child {
  border-right: none;
}